* {margin: 0;padding: 0;box-sizing: border-box;}
*::-webkit-scrollbar {display: none;}
body {background: #ededed;}
a {text-decoration: none;}
@font-face {font-family: 'zmx';src: url(/assets/fonts/ZhiMangXing-Regular.ttf);}
